{% extends 'auctions/layout.html' %}

{% block body %}
    <h2>Previous Listings</h2>
    <ul>
        {% for listing in listings %}
            {% if listing.is_active == False %}
                <li>
                    <h1><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h1>
                    <p><b>Price: </b>${{ listing.starting_bid }}</p>
                    <p>{{ listing.description }}</p>
                    {% if listing.image %}
                        <img src="{{ listing.image.url }}">
                    {% else %}
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}">
                        {% endif %}
                    {% endif %}
                    <p>Created at: {{ listing.created_at }}</p>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}